{% if article.metafields["custom"]["featured_materials"] != blank %}
  <div class="custom-field custom-field__featured-materials custom-field__type--single-line-text-field">
    <h3 class="custom-field--title">Featured Materials</h3>
    <div class="custom-field--value">
      {{ article.metafields["custom"]["featured_materials"] }}

    </div>
  </div>
{% endif %}