<!-- snippets/custom_fields.articles.location_info.liquid -->

<div class="article-location">
  {% render 'custom.articles.location' %}
  {% render 'custom.articles.plant_community' %}
  {% render 'custom.articles.type' %}
  {% render 'custom.articles.featured_materials' %}
  {% render 'custom.articles.featured_products' %}
</div>
