{% if product.metafields["custom"]["second_tab_description"] != blank %}
  <div class="custom-field custom-field__second-tab-description custom-field__type--multi-line-text-field">
    <h3 class="custom-field--title">Second tab description</h3>
    <div class="custom-field--value">
      {{ product.metafields["custom"]["second_tab_description"] }}

    </div>
  </div>
{% endif %}