<!-- snippets/custom_fields.articles.location_info.liquid -->

<div class="article-location">
  <h4 class='article-location-title'>Location</h4>
  {% render 'custom.articles.location' %}
  {% render 'custom.articles.plant_community' %}
  {% render 'custom.articles.type' %}
  {% render 'custom.articles.featured_materials' %}
</div>
