{% if article.metafields["custom"]["plant_community"] != blank %}
  <div>
    <span>Plant Community: </span>
    <span>
      {{ article.metafields["custom"]["plant_community"] }}
    </span>
  </div>
{% endif %}