{% if blog.metafields["custom_fields"]["two_grid"] != blank %}
  <div class="custom-field custom-field__two-grid custom-field__type--field-collection-json">
    <h3 class="custom-field--title">Two Grid</h3>
    <div class="custom-field--value">
      {% for item in blog.metafields["custom_fields"]["two_grid"] %}
        <div class="fc-item fc-index--{{ forloop.index0 }}">
           {% if item["group_name"] != blank %}
             <div class="fc-field field__group-name field-type--text">
               <h4 class="custom-field--title">Group Name</h4>
               <div class="custom-field--value">
                 {{ item["group_name"] }}
               </div>
             </div>
           {% endif %}
           {% if item["images_per_row"] != blank %}
             <div class="fc-field field__images-per-row field-type--number-list">
               <h4 class="custom-field--title">Images per row</h4>
               <div class="custom-field--value">
                 {{ item["images_per_row"] }}
               </div>
             </div>
           {% endif %}
         </div>
       {% endfor %}
    </div>
  </div>
{% endif %}