{% if article.metafields["custom"]["featured_materials"] != blank %}
  <div>
    <span>Featured Materials: </span>
    <span>
      {{ article.metafields["custom"]["featured_materials"] }}
    </span>
  </div>
{% endif %}