<div class="product__title-price">

  <h4>{{ product.title | escape }}</h4>

  <div class="product__price h4">
    <div class="no-js-hidden price-{{ section.id }}" id="price-{{ section.id }}" role="status">
      {%- render 'price', product: product, show_sale: true, use_variant: true -%}
    </div>

    {% if product.type == 'Paver' %}
      <span class="qtyLabel">/sqft.</span>
    {% else %}
      <span class="qtyLabel {{product.type}}"></span>
    {% endif %}

  </div>
</div>