<!-- snippets/product-quantity-calculator -->

{% liquid 

  assign is_pavers      = false
  for collection in product.collections
    assign collection_handle = collection.handle
    if collection_handle == 'pavers'
      assign is_pavers  = true
      break
    endif
  endfor

%}

<div class="product__calc-qty {% unless is_pavers %}show-qty-buttons{% endunless %}">
  
  <div class="product__calc-title">
    Quantity:
  </div>

  <div class="calculator-module--container">

    {% comment %} {% render 'product-calculator' %} {% endcomment %}

    {% render 'product-quantity', is_pavers: is_pavers, product_form_id: product_form_id %}

  </div>

</div>
