<!-- snippets/product-quantity-calculator -->

{% liquid 

  assign isPavers      = false
  for collection in product.collections
    assign colHndl = collection.handle
    if colHndl == 'pavers'
      assign isPavers  = true
      break
    endif
  endfor

%}

<div class="product__calc-qty {% unless isPavers %}show-qty-buttons{% endunless %}">
  
  <div class="product__calc-title">
    Quantity:
  </div>

  <div class="calculator-module--container">

    {% comment %} {% render 'product-calculator' %} {% endcomment %}

    {% render 'product-quantity', isPavers: isPavers, product_form_id: product_form_id %}

  </div>

</div>
