<!-- snippets/product-quantity-calculator -->
{% comment %}
  Renders product quantity calculator with quantity selector.
  Accepts:
  - product: {Object} product object.
  - product_form_id: {String} product form id.
  - external: {Boolean} whether the product is external (optional).
  - calculator_quantity_hide: {Boolean} whether to hide the calculator quantity (optional).
  - is_pavers: {Boolean} whether the product is a paver (optional).
  - is_recycled: {Boolean} whether the product is recycled (optional).

  Usage:
  {% render 'product-quantity-calculator', 
    product_form_id: product_form_id, 
    external: external, 
    calculator_quantity_hide: block.settings.calculator_quantity_hide 
  %}
{% endcomment %}
{% liquid 

  assign is_pavers      = false
  assign is_recycled    = false
  
  for collection in product.collections
    assign collection_handle = collection.handle
    if collection_handle == 'pavers'
      assign is_pavers  = true
      break
    endif
  endfor
  # min quantity for recycled pavers
  assign product_title = product.title
  if product_title contains 'Recycled'
    assign is_recycled = true
  endif
%}

<div class="product__calc-qty {% unless is_pavers %}show-qty-buttons{% endunless %} {% if calculator_quantity_hide %}hidden{% endif %}" {% if calculator_quantity_hide %}aria-hidden="true"{% endif %}>
  
  <div class="product__calc-title">
    Quantity:
  </div>

  <div class="calculator-module--container">

    {% comment %} {% render 'product-calculator' %} {% endcomment %}

    {% render 'product-quantity', is_pavers: is_pavers, is_recycled: is_recycled, product_form_id: product_form_id %}

  </div>

</div>
