    -webkit-font-smoothing: antialiased;
    --font-body-style: normal;
    --font-body-weight: 400;
    --font-body-weight-bold: 700;
    --font-heading-style: normal;
    --font-heading-weight: 400;
    --font-body-scale: 1.0;
    --font-heading-scale: 1.0;
    --font-size: 1.5rem;
    --color-base-text: 0, 0, 0;
    --color-shadow: 0, 0, 0;
    --color-base-background-1: 147, 130, 108;
    --color-base-background-2: 243, 243, 243;
    --color-base-solid-button-labels: 147, 130, 108;
    --color-base-outline-button-labels: 0, 0, 0;
    --color-base-accent-1: 0, 0, 0;
    --color-base-accent-2: 180, 51, 115;
    --payment-terms-background-color: #93826c;
    --gradient-base-background-1: #93826c;
    --gradient-base-background-2: #f3f3f3;
    --gradient-base-accent-1: #000000;
    --gradient-base-accent-2: #b43373;
    --media-padding: px;
    --media-border-opacity: 0.05;
    --media-border-width: 1px;
    --media-radius: 0px;
    --media-shadow-opacity: 0.0;
    --media-shadow-horizontal-offset: 0px;
    --media-shadow-vertical-offset: 4px;
    --media-shadow-blur-radius: 5px;
    --media-shadow-visible: 0;
    --page-width: 200rem;
    --page-width-margin: 0rem;
    --product-card-image-padding: 0.0rem;
    --product-card-corner-radius: 0.0rem;
    --product-card-text-alignment: left;
    --product-card-border-width: 0.0rem;
    --product-card-border-opacity: 0.1;
    --product-card-shadow-opacity: 0.0;
    --product-card-shadow-visible: 0;
    --product-card-shadow-horizontal-offset: 0.0rem;
    --product-card-shadow-vertical-offset: 0.4rem;
    --product-card-shadow-blur-radius: 0.5rem;
    --collection-card-image-padding: 0.0rem;
    --collection-card-corner-radius: 0.0rem;
    --collection-card-text-alignment: left;
    --collection-card-border-width: 0.0rem;
    --collection-card-border-opacity: 0.1;
    --collection-card-shadow-opacity: 0.0;
    --collection-card-shadow-visible: 0;
    --collection-card-shadow-horizontal-offset: 0.0rem;
    --collection-card-shadow-vertical-offset: 0.4rem;
    --collection-card-shadow-blur-radius: 0.5rem;
    --blog-card-image-padding: 0.0rem;
    --blog-card-corner-radius: 0.0rem;
    --blog-card-text-alignment: left;
    --blog-card-border-width: 0.0rem;
    --blog-card-border-opacity: 0.1;
    --blog-card-shadow-opacity: 0.0;
    --blog-card-shadow-visible: 0;
    --blog-card-shadow-horizontal-offset: 0.0rem;
    --blog-card-shadow-vertical-offset: 0.4rem;
    --blog-card-shadow-blur-radius: 0.5rem;
    --badge-corner-radius: 4.0rem;
    --popup-border-width: 1px;
    --popup-border-opacity: 0.1;
    --popup-corner-radius: 0px;
    --popup-shadow-opacity: 0.0;
    --popup-shadow-horizontal-offset: 0px;
    --popup-shadow-vertical-offset: 4px;
    --popup-shadow-blur-radius: 5px;
    --drawer-border-width: 1px;
    --drawer-border-opacity: 0.1;
    --drawer-shadow-opacity: 0.0;
    --drawer-shadow-horizontal-offset: 0px;
    --drawer-shadow-vertical-offset: 4px;
    --drawer-shadow-blur-radius: 5px;
    --spacing-sections-desktop: 0px;
    --spacing-sections-mobile: 0px;
    --grid-desktop-vertical-spacing: 16px;
    --grid-desktop-horizontal-spacing: 16px;
    --grid-mobile-vertical-spacing: 8px;
    --grid-mobile-horizontal-spacing: 8px;
    --text-boxes-border-opacity: 0.1;
    --text-boxes-border-width: 0px;
    --text-boxes-radius: 0px;
    --text-boxes-shadow-opacity: 0.0;
    --text-boxes-shadow-visible: 0;
    --text-boxes-shadow-horizontal-offset: 0px;
    --text-boxes-shadow-vertical-offset: 4px;
    --text-boxes-shadow-blur-radius: 5px;
    --buttons-radius: 0px;
    --buttons-radius-outset: 0px;
    --buttons-border-width: 1px;
    --buttons-border-opacity: 1.0;
    --buttons-shadow-opacity: 0.0;
    --buttons-shadow-visible: 0;
    --buttons-shadow-horizontal-offset: 0px;
    --buttons-shadow-vertical-offset: 4px;
    --buttons-shadow-blur-radius: 5px;
    --buttons-border-offset: 0px;
    --inputs-radius: 0px;
    --inputs-border-width: 1px;
    --inputs-border-opacity: 0.55;
    --inputs-shadow-opacity: 0.0;
    --inputs-shadow-horizontal-offset: 0px;
    --inputs-margin-offset: 0px;
    --inputs-shadow-vertical-offset: 4px;
    --inputs-shadow-blur-radius: 5px;
    --inputs-radius-outset: 0px;
    --variant-pills-radius: 40px;
    --variant-pills-border-width: 1px;
    --variant-pills-border-opacity: 0.55;
    --variant-pills-shadow-opacity: 0.0;
    --variant-pills-shadow-horizontal-offset: 0px;
    --variant-pills-shadow-vertical-offset: 4px;
    --variant-pills-shadow-blur-radius: 5px;
    --font-body-family: MonumentGrotesk, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-heading-family: var(--font-body-family);
    --slick--ajax_loader: //www.orcaliving.com/cdn/shop/t/133/assets/ajax-loader.gif?v=344831891803776881723593402;
    --slick--font-eot: //www.orcaliving.com/cdn/shop/t/133/assets/slick.eot?v=171231562841723704411723593402;
    --slick--font-eot--iefix: //www.orcaliving.com/cdn/shop/t/133/assets/slick.eot?%23iefix&v=171231562841723704411723593402;
    --slick--font-woff: //www.orcaliving.com/cdn/shop/t/133/assets/slick.woff?v=111354281175319789571723593402;
    --slick--font-ttf: //www.orcaliving.com/cdn/shop/t/133/assets/slick.ttf?v=51727957652983676071723593402;
    --slick--font-svg-slick: //www.orcaliving.com/cdn/shop/t/133/assets/slick.svg%23slick?42371;
    --slick--chevron-left: url('//www.orcaliving.com/cdn/shop/t/133/assets/icon-chevron-left.svg?v=165531534640504624671723593412');
    --slick--chevron-right: url('//www.orcaliving.com/cdn/shop/t/133/assets/icon-chevron-right.svg?v=173753974031262226631723593412');
    --slick--arrow-left: url('//www.orcaliving.com/cdn/shop/t/133/assets/icon-arrow-left.svg?v=176636690282835759931723593412');
    --slick--arrow-right: url('//www.orcaliving.com/cdn/shop/t/133/assets/icon-arrow-right.svg?v=116306861702846717181723593412');
    --slick--button-left: var(--slick--arrow-left);
    --slick--button-right: var(--slick--arrow-right);
    --stamped--icon-first: url('//www.orcaliving.com/cdn/shop/t/133/assets/icon-first.svg?42371');
    --stamped--icon-last: url('//www.orcaliving.com/cdn/shop/t/133/assets/icon-last.svg?42371');
    --stamped--icon-next: url('//www.orcaliving.com/cdn/shop/t/133/assets/icon-next.svg?42371');
    --stamped--icon-prev: url('//www.orcaliving.com/cdn/shop/t/133/assets/icon-prev.svg?42371');
    --grid-narrow: 400px;
    --grid-medium: 750px;
    --grid-large: 990px;
    --grid-ex-large: 1200px;
    --grid-widescreen: 1400px;
    --grid-gutter-mobile: 22px;
    --base-gutter: 30px;
    --base-gutter--double: calc(var(--base-gutter) * 2);
    --base-gutter--trip: calc(var(--base-gutter) * 3);
    --base-gutter--quad: calc(var(--base-gutter) * 4);
    --base-gutter--half: calc(var(--base-gutter) / 2);
    --base-gutter--third: calc(var(--base-gutter) / 3);
    --base-gutter--quarter: calc(var(--base-gutter) / 4);
    --base-gutter--eighth: calc(var(--base-gutter) / 8);
    --grid-gutter: var(--base-gutter);
    --grid-gutter--mobile: var(--base-gutter--half);
    --grid-gutter--neg: calc(var(--grid-gutter) * -1);
    --columns--gap: var(--base-gutter);
    --columns--middle: 35%;
    --columns--header: calc(var(--columns--first) - var(--columns--gap)) calc((var(--columns--middle) * 2) - var(--columns--gap)) auto;
    --columns--content: calc(var(--columns--first) - var(--columns--gap)) calc(var(--columns--middle) - var(--columns--gap)) calc(100% - var(--columns--first) - var(--columns--middle));
    --columns--first: 15%;
    --image--blur-start: 0vw;
    --image--scale-start: 1.025;
    --color-foreground: var(--color-base-text);
    --color-background: var(--color-base-background-1);
    --gradient-background: var(--gradient-base-background-1);
    --color-link: var(--color-base-outline-button-labels);
    --alpha-link: .85;
    --alpha-button-border: 1;
    --color-badge-background: var(--color-background);
    --color-badge-border: var(--color-foreground);
    --alpha-badge-border: .1;
    --color-card-hover: var(--color-base-text);
    --color-icon: rgb(var(--color-base-text));
    --duration-short: .1s;
    --duration-default: .2s;
    --duration-long: .5s;
    --qc-wrapper-direction: column;
    --qc-wrapper-top-padding: 0px;
    --qc-wrapper-bottom-padding: 6px;
    --qc-fieldset-space-y-between: 0px;
    --qc-fieldset-space-x-between: 0px;
    --qc-fieldset-width: 50%;
    --qc-widget-alignment: start;
    --qc-widget-flex-alignment: start;
    --qc-input-border: 1px;
    --qc-input-border-radius: 0px;
    --qc-input-border-color: #000000;
    --qc-input-padding: 6px;
    --qc-input-font-size: 14px;
    --qc-label-color: #000000;
    --qc-message-width: 100%;
    --qc-message-color: #000000;
    --header-height: 80px;
    --view-height: 900px;
    --sticky-top--offset: var(--base-gutter--half);
    --sticky-top: calc(var(--header-height) + var(--sticky-top--offset));
    list-style: none;
    --margin: var(--base-gutter--half);
    box-sizing: inherit;
    --color-button-text: var(--color-base-outline-button-labels);
    --color-button: var(--color-background);
    --alpha-button-background: 1;
    --shadow-horizontal-offset: var(--buttons-shadow-horizontal-offset);
    --shadow-vertical-offset: var(--buttons-shadow-vertical-offset);
    --shadow-blur-radius: var(--buttons-shadow-blur-radius);
    --shadow-opacity: var(--buttons-shadow-opacity);
    --shadow-visible: var(--buttons-shadow-visible);
    --border-offset: var(--buttons-border-offset);
    --border-opacity: calc(1 - var(--buttons-border-opacity));
    position: relative;
    min-width: calc(12rem + var(--buttons-border-width) * 2);
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0 3rem;
    cursor: pointer;
    font: inherit;
    text-decoration: none;
    color: rgb(var(--color-button-text));
    transition: box-shadow var(--duration-short) ease;
    appearance: none;
    background-color: rgba(var(--color-button),var(--alpha-button-background));
    font-size: 1.5rem;
    letter-spacing: .1rem;
    line-height: calc(1 + .2 / var(--font-body-scale));
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    min-height: calc(2.5rem + var(--buttons-border-width) * 2);
    border-radius: 50px;