.section--navigation {
  position: relative;
}
.section--navigation .navigation-mobile .navigation-drawer__toggle > span  {
  display: flex;
}

@media only screen and (min-width: 990px) {
  .section--navigation {
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #000;
  }
  .section--side-navigation {
    position: sticky;
    top: 20px;
    transition: top 0.15s ease-out;
  }
  .section--navigation .list-menu {
    display: flex;
    gap: calc(var(--base-gutter--half) * 2.5);
  }
}
.section--side-navigation h1,
.section--side-navigation h2 {
  margin: 0 0 var(--base-gutter--half);
}
.section--side-navigation h2 {
  font-family: var(--font-body-family);
}
.section--side-navigation .list-menu__item,
.section--navigation .list-menu__item {
  padding: 1px 0;
  text-decoration: none;
  text-underline-offset: 0.3rem;
}
.section--side-navigation .list-menu__item:hover,
.section--navigation .list-menu__item:not([aria-expanded]):hover {
  text-decoration: underline;
}
.section--side-navigation .list-menu__item h1,
.section--navigation .list-menu__item h1 {
  all: inherit;
}
.section--side-navigation .list-menu__item.menu-item--active:before {
  content: '_';
}
.section--side-navigation li > ul {
  padding-left: var(--base-gutter--half);
  padding-top: var(--base-gutter--quarter);
  padding-bottom: var(--base-gutter--quarter);
}
.section--side-navigation li > ul .list-menu__item {
  font-size: 1.3rem;
  padding: 2px 0;
}
.section--side-navigation .facets-container {
  margin: 0 0 var(--base-gutter--half);
  padding: 0;
}
.section--side-navigation .facets-container .facets-pill,
.section--side-navigation .facets-container > .product-count,
.section--side-navigation .facets-container > .active-facets {
  display: none;
}
.section--side-navigation .facets-container .mobile-facets__open {
  padding: 0;
}
@media only screen and (max-width: 989px) {
  .section--side-navigation .page-width {
    padding: 0;
    position: relative;
  }
  .section--side-navigation h1,
  .section--side-navigation h2 {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal !important;
  }
  .section--side-navigation .list-menu {
    display: flex;
    display: none !important;
    overflow-x: auto;
    padding-top: var(--base-gutter);
    padding-bottom: var(--base-gutter--half);
    padding-left: 0;
    padding-right: 35vw;
  }
  .section--side-navigation .list-menu .list-menu__item {
    padding: 0 var(--base-gutter) 0 0;
  }
}
@media only screen and (max-width: 749px) {
  .section--side-navigation .page-width:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 99;
    pointer-events: none;
    background: linear-gradient(
      90deg,
      rgba(var(--color-base-background-1), 0) 40%,
      rgba(var(--color-base-background-1), 1) 100%
    );
  }
}
.mega-menu__column-link {
  text-transform: capitalize;
}
/*# sourceMappingURL=navigation.css.map */
