.contact {
  --margin: var(--base-gutter--half);
}
@media only screen and (min-width: 750px) {
  .contact {
    --margin: calc(var(--base-gutter--half) * 1.5);
  }
}
.contact img {
  max-width: 100%;
}
.contact .form__message {
  align-items: flex-start;
}
.contact .icon-success {
  margin-top: 0.2rem;
}
.contact .field {
  margin-bottom: var(--margin);
}
.contact__button {
  margin-top: 3rem;
}
@media only screen and (min-width: 750px) {
  .contact__button {
    margin-top: 4rem;
  }
}
@media only screen and (min-width: 750px) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--margin);
  }
}
.contact hr {
  margin: var(--margin) 0;
}
.contact .contact__fields + hr {
  margin-top: 0;
}
.contact .rte {
  margin-bottom: var(--base-gutter--half);
}
.template--page-contact .select:before,
.template--page-contact .select:after,
.template--page-contact .field:before,
.template--page-contact .field:after {
  display: none;
}
.template--page-contact .select label,
.template--page-contact .field label {
  left: 0;
}
.template--page-contact .select select,
.template--page-contact .select textarea,
.template--page-contact .select input,
.template--page-contact .field select,
.template--page-contact .field textarea,
.template--page-contact .field input {
  padding-left: 0;
  border-bottom: 0.1rem solid rgb(var(--color-base-text));
  font-size: 1.6rem;
}
.template--page-contact .select select:focus,
.template--page-contact .select textarea:focus,
.template--page-contact .select input:focus,
.template--page-contact .field select:focus,
.template--page-contact .field textarea:focus,
.template--page-contact .field input:focus {
  box-shadow: none;
}
.template--page-contact .select select:focus ~ label,
.template--page-contact .select select:not(:placeholder-shown) ~ label,
.template--page-contact .select select:-webkit-autofill ~ label,
.template--page-contact .select textarea:focus ~ label,
.template--page-contact .select textarea:not(:placeholder-shown) ~ label,
.template--page-contact .select textarea:-webkit-autofill ~ label,
.template--page-contact .select input:focus ~ label,
.template--page-contact .select input:not(:placeholder-shown) ~ label,
.template--page-contact .select input:-webkit-autofill ~ label,
.template--page-contact .field select:focus ~ label,
.template--page-contact .field select:not(:placeholder-shown) ~ label,
.template--page-contact .field select:-webkit-autofill ~ label,
.template--page-contact .field textarea:focus ~ label,
.template--page-contact .field textarea:not(:placeholder-shown) ~ label,
.template--page-contact .field textarea:-webkit-autofill ~ label,
.template--page-contact .field input:focus ~ label,
.template--page-contact .field input:not(:placeholder-shown) ~ label,
.template--page-contact .field input:-webkit-autofill ~ label {
  left: 0;
}
@media only screen and (max-width: 989px) {
  .template--page-contact #MainContent > *:nth-child(2) .page-width {
    padding-top: 0;
  }
}
/*# sourceMappingURL=section-contact-form.css.map */
