.contact {
  --margin: var(--base-gutter--half);
  @include mq($medium-up) {
    --margin: calc(var(--base-gutter--half) * 1.5);
  }
}

.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field {
  margin-bottom: var(--margin);
}

// @include mq($medium-up) {
//   .contact .field {
//     margin-bottom: 2rem;
//   }
// }

.contact__button {
  margin-top: 3rem;
}

@include mq($medium-up) {
  .contact__button {
    margin-top: 4rem;
  }
}

@include mq($medium-up) {
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--margin);
  }
}


.contact {
  hr {
    margin: var(--margin) 0;
  }

  .contact__fields + hr {
    margin-top: 0;
  }
}


.contact {
  .select {
    select {

    }
  }

  .rte {
    margin-bottom: var(--base-gutter--half);
  }
}




.template--page-contact {
  .select,
  .field {

    &:before,
    &:after {
      display: none;
    }

    label {
      left: 0;
    }

    select,
    textarea,
    input {
      padding-left: 0;
      border-bottom: 0.1rem solid rgb(var(--color-base-text));
      font-size: 1.6rem;

      &:focus {
        box-shadow: none;
      }
      
      &:focus~label, 
      &:not(:placeholder-shown)~label, 
      &:-webkit-autofill~label {
        left: 0
      }
    }
  }

  @include mq($medium-down) {
    #MainContent {
      > * {
        &:nth-child(2) {
          .page-width {
            padding-top: 0;
          }
        }
      }
    }
  }
}