.article-template__alignment {
  margin: 0 0 var(--base-gutter--half);
  line-height: calc(1 + .3/max(1,var(--font-heading-scale)));
  visibility: hidden !important;
}

.article-template > *:first-child:not(.article-template__hero-container) {
  margin-top: 5rem;
}

@include mq($medium-up) {
  .article-template > *:first-child:not(.article-template__hero-container) {
    margin-top: calc(5rem + var(--page-width-margin));
  }
}

.article-template__hero-container {
  max-width: 130rem;
  margin: 0 auto;
}

.article-template__hero-small {
  height: 11rem;
}

.article-template__hero-medium {
  height: 22rem;
}

.article-template__hero-large {
  height: 33rem;
}

@include mq($medium) {
  .article-template__hero-small {
    height: 22rem;
  }

  .article-template__hero-medium {
    height: 44rem;
  }

  .article-template__hero-large {
    height: 66rem;
  }
}

@include mq($large-up) {
  .article-template__hero-small {
    height: 27.5rem;
  }

  .article-template__hero-medium {
    height: 55rem;
  }

  .article-template__hero-large {
    height: 82.5rem;
  }
}

.article-template header {
  margin-top: 4.4rem;
  margin-bottom: 2rem;
  line-height: calc(0.8 / var(--font-body-scale));
}

@include mq($medium-up) {
  .article-template header {
    margin-top: 5rem;
  }
}

.article-template__title {
  margin: 0;
}

.article-template__title:not(:only-child) {
  margin-bottom: 1rem;
}

.article-template__link {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-bottom: 60px;
}

.article-template__link .icon-wrap {
  display: flex;
  margin-right: 1rem;
  transform: rotate(180deg);
}

.article-template__content {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.article-template__social-sharing {
  margin-top: 3rem;
}

.article-template__social-sharing + header,
.article-template__social-sharing + .article-template__content {
  margin-top: 1.5rem;
}

.article-template__comment-wrapper {
  margin-top: 5rem;
  padding: 2.7rem 0;
}

@include mq($medium-up) {
  .article-template__comment-wrapper {
    margin-top: 6rem;
    padding: 3.6rem 0;
  }
}

.article-template__comment-wrapper h2 {
  margin-top: 0;
}

.article-template__comments {
  margin-bottom: 5rem;
}

@include mq($medium-up) {
  .article-template__comments {
    margin-bottom: 7rem;
  }
}

.article-template__comments-fields {
  margin-bottom: 4rem;
}

.article-template__comments-comment {
  color: rgba(var(--color-foreground), 0.75);
  background-color: rgb(var(--color-background));
  margin-bottom: 1.5rem;
  padding: 2rem 2rem 1.5rem;
}

@include mq($medium-up) {
  .article-template__comments-comment {
    padding: 2rem 2.5rem;
  }
}

.article-template__comments-comment p {
  margin: 0 0 1rem;
}

.article-template__comment-fields > * {
  margin-bottom: 3rem;
}

@include mq($medium-up) {
  .article-template__comment-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.article-template__comment-warning {
  margin: 2rem 0 2.5rem;
}

@include mq($large-up) {
  .article-template__comments .pagination-wrapper {
    margin: 5rem 0 8rem;
  }
}

.article-template__back:last-child {
  margin-bottom: 3.2rem;
}


.template--article-portfolio {
  #MainContent {

    .article-template {
      // text-align: center;

      > * {
        margin: 0 0 var(--base-gutter);
        padding: 0;
        width: 100%;

        &:last-child {
          margin-bottom: 0;
        }
      }

      header {
        // margin-top: var(--base-gutter--half);
        max-width: 100%;
        margin-bottom: var(--base-gutter--quarter);
        &:first-child {
          margin-top: 0;
        }



        h1 {
          margin: 0;
          line-height: 1.1;
          font: {
            size: var(--font-size);
            weight: bold;
          }
        }

        time {
          display: none;
        }
      }
    }

    
  }

  
}

.article-template__blog-feed {
  > * {
    margin: 0 0 var(--base-gutter--half);
  }

  h2 {
    a {
      font: inherit;
      &:not(:hover) {
        text-decoration: none;
      }
    }
  }

  .article-template__blog-articles {
     > * {
      margin: 0 0 var(--base-gutter--quarter);
    }
  }

  .article-template__blog-article {
    a {
      h3 {
        margin: 0;
      }
    }
  }
}




.article-template__products {

  h2 {
    margin: 0 0 var(--base-gutter--half);
  }

  .card__inner {
    --ratio-percent: 125% !important;
  }

  @include mq($small) {
    .cell__item {
      width: 50%;
    }
  }
}

.inline-products {
  .article-template__products {

    * {
      font-size: var(--font-size);
    }

    h2 {
      display: inline-block;
      font: {
        size: var(--font-size);
        weight: 400;
      }

      &:after {
        content: ':';
        font: {
          size: var(--font-size);
          weight: bold;
        }
      }
    }

    .cell {
      display: inline;
      margin: 0;
      padding: 0;

      .cell__item {
        display: inline;
        margin: 0;
        padding: 0;
        &:not(:last-child) {
          .card-wrapper {
            a:after {
              all: unset;
              content: ",";
              margin-left: -4px;
              position: relative;
            }
          }
        }
      }
    }

    .card-wrapper {
      display: inline;

      .card-information,
      .card__inner {
        display: none;
      }

      a,
      .card,
      .card__content,
      .card__information,
      h3 {
        display: inline;
      }
    }
  }
}